<!-- Header -->
<div id="header" class="skel-panels-fixed">

	<div class="top" itemscope itemtype="http://schema.org/Person">

		<!-- Logo -->
		<div id="logo">
			<span class="image avatar48"><img src="/images/avatar.jpg" alt="" itemprop="image"/></span>
			<h1 id="title" itemprop="name">{{name}}</h1>
			<span class="byline" itemprop="jobTitle">{{byline}}</span>
		</div>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a itemprop="url" href="#top" id="top-link" class="skel-panels-ignoreHref"><span class="fa fa-home">Intro</span></a></li>
                <li><a href="#games" id="games-link" class="skel-panels-ignoreHref"><span class="fa fa-gamepad">Games</span></a></li>
                <li><a href="#robots" id="robots-link" class="skel-panels-ignoreHref"><span class="fa fa-bolt">Robots</span></a></li>
                <li><a href="#webs" id="webs-link" class="skel-panels-ignoreHref"><span class="fa fa-th">Websites</span></a></li>
                <li><a href="#about" id="about-link" class="skel-panels-ignoreHref"><span class="fa fa-user">About Me</span></a></li>
                <li><a href="#contact" id="contact-link" class="skel-panels-ignoreHref"><span class="fa fa-envelope">Contact</span></a></li>
			</ul>
		</nav>
			
	</div>
	
	<div class="bottom">

		<!-- Social Icons -->
		<ul class="icons">
			<li><a href="http://fb.com/xicombd" class="fa fa-facebook solo"><span>Facebook</span></a></li>
			<li><a href="http://twitter.com/xicombd" class="fa fa-twitter solo"><span>Twitter</span></a></li>
			<li><a href="https://plus.google.com/u/0/+FranciscoBaioDias1?rel=author" class="fa fa-google-plus solo"><span>Google</span></a></li>
			<li><a href="http://linkedin.com/in/xicombd/" class="fa fa-linkedin solo"><span>LinkedIn</span></a></li>
			<li><a href="http://github.com/xicombd" class="fa fa-github solo"><span>Github</span></a></li>
			<li><a href="mailto:xicombd@gmail.com" class="fa fa-envelope solo" itemprop="email"><span>Email</span></a></li>
		</ul>
	
	</div>

</div>