.cards
  .card
    a
      margin: 10px
      box-shadow: 0 0 20px rgba(255,255,255,0.1)
      display: block
      overflow: hidden

      .name
        background: #fff
        color: #666
        margin: 0
        padding: 15px 0
        font-size: 14px
        height: 50px
