.home
  .section
    color: white
    background-color: #333
    backgroundCover()
    text-align: center

    h1,h2,h3,h4,h5,h6,a
      color: white

    .column-group
      padding: 80px 0

      .image-column
        text-align: center
        img
          width: 90%
          max-width: 300px

    .text-column
      margin-top: 30px

  .section-header
    background: url('/static/header-background.jpg')
    backgroundCover()
    text-align: left

    .column-group
      .image-column
        img
          border-radius: 50%

    .social-icon
      font-size: 50px
      text-decoration: none
      margin: 0.1em
      opacity: 0.9

    .social-icon:hover
      opacity: 1

  .section-sinfo
    background: url('/static/sinfo-background.jpg')
    backgroundCover()

  .section-muzzley
    background: url('/static/muzzley-background.jpg')
    color: white
    backgroundCover()

  .section-tecnico
    background: url('/static/tecnico-background.jpg')
    backgroundCover()

  .section-bravebunny
    background: #435F30

  .section-contact
    .contacts
      .fa
        margin-right: 8px





  .skills
    text-align: center

    span
      display: inline-block
      margin: 2px
      background: rgba(255,255,255,0.3)
      color: #fff
      padding: 2px 6px
      border-radius: 2px
      font-size: 12px

  .links
    margin: 20px 0
    a
      display: inline-block
      margin: 6px

