.scores {
	visibility:hidden;
	position:relative;
	top:30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: fit-content;
	font-family: 'helvetica neue', arial, verdana, sans-serif;
	color: #D0CFA7;
	font-size: medium;
}

#gameArea {
  position: absolute;
  left: 50%;
  top: 50%;
}
#gameCanvas {
  width: 100%;
  height: 100%;
}

#buttons{
	visibility:hidden;
	position: absolute; 
	top: 10px; 
	left: 10px; 
	cursor:pointer;
}

#github{
	visibility:hidden;
	position: absolute; 
	top: 0px; 
	right: 0px; 
}