<!DOCTYPE HTML>
<html>
	<head>
		<title>{{game.name}} - {{name}}</title>
		<meta property="og:title" content="{{game.name}} - {{name}}" />
		<meta property="og:image" content="http://franciscodias.net/images/{{game.image}}" />
		{{> head}}
	</head>
	<body itemscope itemtype="http://schema.org/WebPage">
		{{> sidebar}}

		<!-- Main -->
		<div id="main" itemscope itemtype="http://schema.org/CreativeWork">
			<!-- Intro -->
				<section id="top" class="one">
					<div class="container">

						<a href="{{game.url}}" class="image featured" target="_blank"><img itemprop="image" src="/images/{{game.image}}" alt="" /></a>

						<header>
							<h2 itemprop="name" class="alt">{{game.name}}</h2>
						</header>
						
						<p>{{{game.description}}}
						</p>

						<footer>
							<a itemprop="url" href="{{game.url}}" class="button scrolly" target="_blank">Play</a>
						</footer>

					</div>
				</section>
		</div>

		{{> footer}}
	</body>
</html>

{{> end}}